@font-face {
  font-family: "ArchivoBlack";
  src: url("../fonts/ArchivoBlack-Regular.woff");
}

@font-face {
  font-family: "OpenSansItalic";
  src: url("../fonts/OpenSans-Italic-VariableFont_wdth,wght.woff");
}

@font-face {
  font-family: "OpenSans";
  src: url("../fonts/OpenSans-VariableFont_wdthwght.woff");
}

body {
  max-width: 1440px;
  background-color: #111111;
}

@media screen and (max-width: 768px) {
  body {
    max-width: 768px;
  }
}

@media screen and (max-width: 320px) {
  body {
    max-width: 320px;
    height: 2605px;
  }
}

.header__information {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 40px;
}

.header__information__name {
  max-width: 793px;
  height: 156px;
  top: 89px;
  left: 120px;
  opacity: 1;
}

.name {
  font-family: "ArchivoBlack", "sans-serif";
  font-weight: 400;
  font-size: 72px;
  color: #ffffff;
  line-height: 100%;
  letter-spacing: 0%;
  padding-top: 89px;
  padding-left: 118px;
  padding-right: 527px;
}

@media screen and (max-width: 768px) {
  .header__information__name {
    max-width: 434px;
    height: 127px;
    opacity: 1;
  }

  .name {
    font-family: "ArchivoBlack", "sans-serif";
    font-weight: 400;
    font-style: Regular;
    font-size: 58px;
    leading-trim: NONE;
    line-height: 100%;
    letter-spacing: 0%;
    columns: #ffffff;
    padding-top: 40px;
    padding-left: 40px;
  }
}

@media screen and (max-width: 320px) {
  .header__information__name {
    max-width: 280px;
    opacity: 1;
    z-index: 0;
    margin-bottom: 0;
    padding-top: 20px;
    padding-bottom: 0px;
  }

  .name {
    font-family: "ArchivoBlack", "sans-serif";
    font-weight: 400;
    font-style: Regular;
    font-size: 36px;
    leading-trim: NONE;
    line-height: 100%;
    letter-spacing: 0%;
    columns: #ffffff;
    margin: 0;
    padding-left: 20px;
    z-index: 0;
    color: #ffffff;
  }
}

.header__information__position {
  max-width: 790px;
  height: auto;
  padding-top: 70px;
  padding-left: 120px;
  opacity: 1;
}

.position {
  font-family: "OpenSans", "sans-serif";
  font-weight: 400;
  font-style: Regular;
  font-size: 18px;
  line-height: 100%;
  letter-spacing: 0%;
  color: #ffffff80;
}

.separator {
  display: inline;
}

@media screen and (max-width: 768px) {
  .separator {
    display: none;
  }

  .line1,
  .line2 {
    display: block;
    padding-top: 3px;
  }
  .header__information__position {
    width: 452px;
    height: auto;
    padding-left: 40px;
    padding-top: 22px;
  }
}

@media screen and (max-width: 320px) {
  .separator {
    display: none;
  }

  .header__information__name {
    height: auto;
    margin-bottom: 0;
  }

  .name {
    margin: 0;
    padding-top: 0;
  }

  .header__information__position {
    display: flex;
    width: 280px;
    height: auto;
    padding-left: 20px;
    padding-top: 0;
    margin-top: 0;
  }

  .position {
    margin: 0;
    font-family: "OpenSans", "sans-serif";
    font-size: 16px;
    line-height: 100%;
    color: #ffffff80;
  }
}

.header__information__description {
  max-width: 793px;
  height: 150px;
  padding-top: 10px;
  padding-left: 120px;
}

.description {
  font-family: "OpenSans", "sans-serif";
  font-weight: 400;
  font-style: Regular;
  font-size: 18px;
  line-height: 20px;
  letter-spacing: 15%;
  color: #ffffff;
}

@media screen and (max-width: 768px) {
  .header__information__description {
    max-width: 452px;
    height: 215px;
    padding-top: 10px;
    padding-left: 40px;
  }

  .description {
    font-family: "OpenSans", "sans-serif";
    font-weight: 400;
    font-style: Regular;
    font-size: 18px;
    line-height: 20px;
    letter-spacing: 15%;
    color: #ffffff;
  }
}

@media screen and (max-width: 320px) {
  .header__information__description {
    max-width: 280px;
    height: auto;
    margin-top: 10px;
    margin-bottom: 0;
    padding-left: 20px;
  }

  .description {
    font-family: "OpenSans", "sans-serif";
    font-weight: 400;
    font-style: Regular;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 15%;
    color: #ffffff;
  }
}

.header__information__profilePicture::before {
  content: "";
  position: absolute;
  top: 240px;
  left: 20px;
  width: 300px;
  height: 300px;
  background-color: #fd2626;
  z-index: 0;
  border-radius: 10px;
  filter: blur(80px);
  opacity: 0.7;
}

.header__information__profilePicture {
  padding-top: 40px;
  padding-right: 120px;
  position: relative;
  display: inline-block;
}

.profilePicture {
  position: relative;
  z-index: 1;
  min-width: 387px;
  height: 500px;
}

@media screen and (max-width: 768px) {
  .header__information__profilePicture::before {
    content: "";
    position: absolute;
    top: 40px;
    left: 20px;
    width: 300px;
    height: 300px;
    background-color: #fd2626;
    z-index: 0;
    border-radius: 10px;
    filter: blur(80px);
    opacity: 0.7;
  }

  .header__information__profilePicture {
    padding-top: 40px;
    padding-right: 40px;
    position: relative;
    display: inline-block;
  }

  .profilePicture {
    position: relative;
    z-index: 1;
    min-width: 216px;
    height: 280px;
  }
}

@media screen and (max-width: 320px) {
  .header__information {
    display: flex;
    flex-direction: column-reverse;
    padding-left: 20px;
    gap: 0px;
  }
  .header__information__profilePicture::before {
    content: "";
    position: absolute;
    top: 40px;
    left: 20px;
    width: 300px;
    height: 300px;
    background-color: #fd2626;
    z-index: 0;
    border-radius: 10px;
    filter: blur(80px);
    opacity: 0.7;
  }

  .header__information__profilePicture {
    display: block;
    padding-top: 40px;
    padding-left: 20px;
  }

  .profilePicture {
    position: relative;
    z-index: 1;
    width: 286px;
    height: 280px;
  }
}

.links {
  padding-left: 120px;
  list-style: none;
  display: grid;
  grid-template-columns: 1fr;
  margin-top: 30px;
  row-gap: 10px;
}

@media screen and (max-width: 1440px) {
  .links {
    display: grid;
    grid-template-columns: repeat(3, max-content);
    grid-template-rows: auto 5px;
    column-gap: 30px;
    row-gap: 1px;
    align-items: start;
  }

  .nav-link__cv {
    grid-column: 1;
    grid-row: 1;
  }

  .nav-link__git {
    grid-column: 2;
    grid-row: 1;
  }

  .nav-link__contact {
    grid-column: 3;
    grid-row: 1;
  }

  .box1 {
    grid-column: 1;
    grid-row: 2;
  }

  .box2 {
    grid-column: 2;
    grid-row: 2;
  }

  .box3 {
    grid-column: 3;
    grid-row: 2;
  }
}

@media screen and (max-width: 768px) {
  .links {
    display: grid;
    grid-template-columns: repeat(3, max-content);
    grid-template-rows: auto 5px;
    column-gap: 30px;
    row-gap: 1px;
    align-items: start;
    padding-left: 40px;
  }

  .nav-link__cv {
    grid-column: 1;
    grid-row: 1;
  }

  .nav-link__git {
    grid-column: 2;
    grid-row: 1;
  }

  .nav-link__contact {
    grid-column: 3;
    grid-row: 1;
  }

  .box1 {
    grid-column: 1;
    grid-row: 2;
  }

  .box2 {
    grid-column: 2;
    grid-row: 2;
  }

  .box3 {
    grid-column: 3;
    grid-row: 2;
  }
}

.nav-link__cv {
  text-decoration: none;
  max-width: 115px;
  height: 25px;
  font-family: "OpenSans", "sans-serif";
  width: auto;
  font-style: SemiBold;
  font-size: 18px;
  line-height: 100%;
  color: #ffffff;
}

.nav-link__cv:hover {
  opacity: 50%;
}

.nav-link__git {
  text-decoration: none;
  max-width: 138px;
  height: 25px;
  font-family: "OpenSans", "sans-serif";
  width: auto;
  font-style: SemiBold;
  font-size: 18px;
  line-height: 100%;
  color: #ffffff;
}

.nav-link__git:hover {
  opacity: 50%;
}

.nav-link__contact {
  text-decoration: none;
  max-width: 88px;
  height: 25px;
  font-family: "OpenSans", "sans-serif";
  width: auto;
  font-style: SemiBold;
  font-size: 18px;
  line-height: 100%;
  color: #ffffff;
}

.nav-link__contact:hover {
  opacity: 50%;
}

.boxes {
  display: flex;
  gap: 28px;
  padding-left: 39px;
}

.box1 {
  width: 105px;
  height: 5px;
  background: linear-gradient(100deg, #f50000, #ff5151ea 50%);
}

.box2 {
  width: 123px;
  height: 5px;
  background: linear-gradient(100deg, #f50000, #ff5151ea 50%);
}

.box3 {
  width: 74px;
  height: 5px;
  background: linear-gradient(100deg, #f50000, #ff5151ea 50%);
}

@media screen and (max-width: 320px) {
  .links {
    display: flex;
    flex-direction: column;
    padding-left: 20px;
    margin-top: 30px;
  }

  /* espacio entre texto y caja */
  .box1,
  .box2,
  .box3 {
    margin-bottom: 35px;
  }
}

.skills {
  width: 603px;
  height: 44px;
  padding-top: 80px;
  padding-left: 117px;
  angle: 0 deg;
  opacity: 1;
}

.skills__text {
  font-family: "ArchivoBlack", "sans-serif";
  font-weight: 400;
  font-style: Regular;
  font-size: 35px;
  leading-trim: NONE;
  line-height: 100%;
  letter-spacing: 0%;
  color: #ffffff;
}

@media screen and (max-width: 768px) {
  .skills {
    padding-left: 40px;
  }
}

.skills-images {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-left: 120px;
  padding-top: 70px;
  padding-right: 120px;
}

@media screen and (max-width: 768px) {
  .skills-images {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 40px;
    padding-top: 70px;
  }
}

@media screen and (max-width: 320px) {
  .skills {
    margin-top: 0;
    padding-left: 40px;
    width: 280px;
  }

  .skills-images {
    display: flex;
    height: auto;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 30px;
    justify-content: flex-start;
    padding-left: 40px;
  }
}

.project {
  width: 100%;
  height: auto;
  margin-bottom: 0;
  padding-top: 100px;
  padding-left: 120px;
  angle: 0 deg;
  opacity: 1;
}

@media screen and (max-width: 768px) {
  .project {
    padding-left: 40px;
  }
}

.project__text {
  font-family: "ArchivoBlack", "sans-serif";
  font-weight: 400;
  font-style: Regular;
  font-size: 40px;
  leading-trim: NONE;
  line-height: 100%;
  letter-spacing: 0%;
  color: #ffffff;
}

.projects {
  display: grid;
  column-gap: 20px;
  row-gap: 0px;
  padding-top: 50px;
  padding-left: 120px;
  grid-template-columns: repeat(2, 590px);
}

.project-card {
  position: relative;
  background-color: #1c1c1c;
}

.project-card__head {
  font-family: "OpenSans", "sans-serif";
  font-weight: 700;
  font-style: Bold;
  font-size: 24px;
  leading-trim: NONE;
  line-height: 100%;
  letter-spacing: 0%;
  color: #ffffff;
  padding-left: 30px;
}

.project-card__body {
  width: 530px;
  height: 175px;
  padding-left: 30px;
}

.project-card__body__text {
  font-family: "OpenSans", "sans-serif";
  font-weight: 400;
  font-style: Regular;
  font-size: 18px;
  leading-trim: NONE;
  line-height: 20px;
  letter-spacing: 0%;
  color: #ffffff;
}

.project-card_immage {
  width: 590px;
  height: 330px;
  top: 985px;
  left: 120px;
  angle: 0 deg;
  opacity: 1;
}

.projects_immage__html5image {
  position: absolute;
  top: 280px;
  left: 12px;
  bottom: 10px;
  right: 538px;
  width: 40px;
  height: 40px;
}

.projects_immage__cssimage {
  position: absolute;
  top: 280px;
  left: 62px;
  bottom: 10px;
  right: 538px;
  width: 40px;
  height: 40px;
}

.projects_immage__javascript {
  position: absolute;
  top: 280px;
  left: 10px;
  bottom: 10px;
  right: 538px;
  width: 40px;
  height: 40px;
}

.card-links {
  display: flex;
  gap: 20px;
  padding-left: 30px;
  padding-bottom: 30px;
}

.card__link-demo {
  width: 132px;
  height: 22px;
  display: flex;
  align-items: center;
  gap: 5px;
}

.link-demo {
  text-decoration: none;
  color: #6d6dff;
}

.card__link-demo__vector {
  width: 30px;
  height: 45px;
}

.card__link-git {
  width: 83px;
  height: 22px;
  display: flex;
  align-items: center;
  gap: 10px;
}

.link-git {
  text-decoration: none;
  color: #ffffff99;
}

.card__link-git__vector {
  width: 20px;
  height: 20px;
  color: #ffffff99;
}

@media screen and (max-width: 768px) {
  .projects {
    display: grid;
    column-gap: 20px;
    row-gap: 0px;
    padding-top: 50px;
    padding-left: 40px;
    grid-template-columns: 1fr;
  }
  .project-card__body {
    width: 628px;
    height: 175px;
    padding-left: 30px;
  }

  .project-card_immage {
    width: 688px;
    height: 330px;
    top: 985px;
    left: 120px;
    angle: 0 deg;
    opacity: 1;
  }

  .projects {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas:
      "img1"
      "text1"
      "img2"
      "text2";
  }

  .project-card:nth-child(1) {
    grid-area: img1;
  }

  .project-card:nth-child(2) {
    grid-area: img2;
  }

  .project-card:nth-child(3) {
    grid-area: text1;
  }

  .project-card:nth-child(4) {
    grid-area: text2;
  }
}

@media screen and (max-width: 320px) {
  .project {
    padding-left: 40px;
  }

  .project__text {
    max-width: 100%;
  }
}

@media screen and (max-width: 320px) {
  .projects {
    display: grid;
    column-gap: 20px;
    row-gap: 0px;
    padding-top: 50px;
    padding-left: 40px;
    grid-template-columns: 1fr;
  }
  .project-card {
    width: 280px;
    height: 454px;
    padding-left: 20px;
  }
  .project-card__head {
    padding-left: 20px;
    display: flex;
  }
  .project-card__body {
    width: 280px;
    height: 160px;
    padding-left: 20px;
  }

  .project-card_immage {
    width: 280px;
    top: 985px;
    left: 120px;
    angle: 0 deg;
    opacity: 1;
  }
}

.footer_text {
  display: flex;
}

.footer_information {
  padding-top: 80px;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.footer_information::before {
  content: "";
  position: absolute;
  pointer-events: none;
  top: 1675px;
  left: 570px;
  width: 300px;
  height: 300px;
  background-color: #fd2626;
  z-index: 0;
  border-radius: 10px;
  filter: blur(80px);
  opacity: 0.2;
}

@media screen and (max-width: 768px) {
  .footer_information::before {
    content: "";
    position: absolute;
    pointer-events: none;
    top: 2267px;
    left: 234px;
    width: 300px;
    height: 300px;
    background-color: #fd2626;
    z-index: 0;
    border-radius: 10px;
    filter: blur(80px);
    opacity: 0.2;
  }
}

.footer_information__contact {
  font-family: "ArchivoBlack", "sans-serif";
  font-weight: 400;
  font-style: Regular;
  font-size: 40px;
  leading-trim: NONE;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: center;
  color: #ffffff;
}

.footer_information__email {
  font-family: "OpenSans", "sans-serif";
  font-weight: 400;
  font-style: Regular;
  font-size: 18px;
  leading-trim: NONE;
  line-height: 100%;
  letter-spacing: 0%;
  color: #6d6dff;
}

.footer_information_icons {
  display: flex;
  justify-content: center;
  gap: 80px;
  padding-top: 30px;
}

.footer_information_icon {
  width: 24px;
  height: 24px;
}

@media screen and (max-width: 768px) {
  .header__information__name {
    max-width: 434px;
    height: 127px;
    top: 40px;
    left: 40px;
    opacity: 1;
  }
  .footer_information_icons {
    display: flex;
    justify-content: center;
    gap: 80px;
    padding-top: 30px;
    padding-bottom: 102px;
  }
}
